<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<%= form_tag do %>

  <%= label_tag :user, 'Username: ' %><br>
  <%= text_field_tag :user %><br>

  <%= label_tag :password, 'Password: ' %><br>
  <%= password_field_tag :password %><br>
 -
  <%= submit_tag 'Submit' %>

<% end %>